<!-- The enctype 'multipart/form-data' indicates that the form will be sending the data in binary. -->
<form method="post" enctype="multipart/form-data">
    <div>
        <input type="file" name="files" multiple/>
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>