@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <!-- The enctype 'multipart/form-data' indicates that the form will be sending the data in binary. -->
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadFiles" asp-route-HttpVerbs="Post">
        <div>
            <input type="file" name="files" multiple />
        </div>
        <div>
            <input type="submit" name="submit" value="Upload" />
        </div>
    </form>
</body>
</html>